<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="headtag"></head>

<body>
<div th:replace="header"></div>

<div class="content">

    <div class="row pb-2 mt-4 mb-4 border-bottom">
        <div class="col col-9">
            <h3 th:text="'Tier List - ' + ${offer.name} + ''">Tier List</h3>
        </div>
        <div class="col col-3 text-right">
            <a class="btn btn-primary" th:href="@{'/offers/' + ${offer.id} + '/tiers/add'}">Add tier</a>
        </div>
    </div>

    <div class="row">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Tier name</th>
                <th>Preview</th>
                <th class="text-right">Edit</th>
                <th class="text-right">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tier: ${tiers}">
                <td th:text="${tier.id}"></td>
                <td th:text="${tier.name}"></td>
                <td>conditions</td>
                <td class="text-right"><a th:href="@{'/offers/' + ${offer.id} + '/tiers/' + ${tier.id} + '/edit'}">edit</a></td>
                <td class="text-right"><a th:href="@{'/offers/' + ${offer.id} + '/tiers/' + ${tier.id} + '/delete'}">delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>