<div xmlns:th="http://www.thymeleaf.org" th:fragment="header">
    <div class="header-appbar">

        <div class="header-logo">PRICING ENGINE</div>

        <div class="header-menu">
            <div class="header-menu-item">
                <a th:href="@{/}">Homepage</a>
            </div>
            <div class="header-menu-item">
                <a th:href="@{/offers}">Define offers</a>
            </div>
            <div class="header-menu-item">
                <a th:href="@{/pricesets}">Set up prices</a>
            </div>
        </div>
    </div>
</div>