<head xmlns:th="http://www.thymeleaf.org" th:fragment="headtag">
    <title>Pricing Engine</title>

    <link rel="stylesheet" th:href="@{/style.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" th:src="@{/jquery.serializejson.min.js}"></script>

    <script type="text/javascript" th:src="@{/submitForm.js}"></script>

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <!-- bootstrap datetimepicker -->
    <script type="text/javascript" th:src="@{/webjars/momentjs/2.22.2/min/moment-with-locales.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.css}"/>
    <script type="text/javascript" th:src="@{/webjars/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.js}"></script>

    <!-- handsontable -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css"/>

    <!-- default settings -->
    <script type="text/javascript" th:src="@{/defaults.js}"></script>

</head>