<head xmlns:th="http://www.thymeleaf.org" th:fragment="headtag">
    <title>Pricing Engine</title>

    <link rel="stylesheet" th:href="@{/style.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" th:src="@{/jquery.serializejson.min.js}"></script>

    <script type="text/javascript" th:src="@{/submitForm.js}"></script>

    <!-- bootstrap datepicker -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker3.css}"/>
    <script type="text/javascript" th:src="@{/webjars/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js}"></script>

    <!-- handsontable -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css"/>

</head>