<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="headtag"></head>

<body>
<script th:inline="javascript">
    var OFFER_ID = /*[[${priceset.offer.id}]]*/ "undefined";
    var PRICESET_ID = /*[[${priceset.id}]]*/ "undefined";
</script>
<script type="text/javascript" th:src="@{/pricesets.js}"></script>

<div th:replace="header"></div>
<div class="content">
    <div class="content-head">EDIT PRICESET</div>

    <form id="editPricesetForm">
        <input type="hidden" id="id" name="id" th:value="${priceset.id}"/>

        <div class="form-row">
            <div class="col">
                <label>Offer Name: </label>
                <span th:text="${priceset.offer.name}"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col col-3">
                <label for="pricesetName">Priceset Name</label>
                <input class="form-control" id="pricesetName" type="text" name="name" th:value="${priceset.name}"/>
            </div>

            <div class="col col-3">
                <label for="startDate">Start date</label>
                <input data-provide="datepicker" class="form-control" id="startDate" type="text" name="startDate" th:value="${priceset.startDate}"/>
            </div>

            <div class="col col-3">
                <label for="endDate">End date</label>
                <input data-provide="datepicker" class="form-control" id="endDate" type="text" name="endDate" th:value="${priceset.endDate}"/>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary mb-2">SAVE CHANGES</button>
            </div>
        </div>
    </form>

    <div id="pricesetmatrix">
        Fetching matrix...
    </div>
</div>

</body>
</html>