<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="headtag"></head>

<body>
<div th:replace="header"></div>

<div class="content">

    <div class="row pb-2 mt-4 mb-4 border-bottom">
        <div class="col col-9"><h3>Offer List</h3></div>
        <div class="col col-3 text-right">
            <button class="btn btn-primary">Add offer</button>
        </div>
    </div>

    <div class="row">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Offer name</th>
                <th>Description</th>
                <th>Control</th>
                <th>Control</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="offer: ${offers}">
                <td th:text="${offer.id}"></td>
                <td th:text="${offer.name}"></td>
                <td th:text="${offer.description}"></td>
                <td><a th:href="@{'/offers/' + ${offer.id} + '/edit'}">Edit</a></td>
                <td><a th:href="@{'/offers/' + ${offer.id} + '/tiers'}">Tiers</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>