<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="headtag"></head>

<body>
<div th:replace="header"></div>

<div class="content">

    <div class="content-head">OFFER LIST</div>

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th>ID</th>
            <th>Offer name</th>
            <th>Description</th>
            <th>Control</th>
            <th>Control</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="offer: ${offers}">
            <td th:text="${offer.id}"></td>
            <td th:text="${offer.name}"></td>
            <td th:text="${offer.description}"></td>
            <td><a th:href="@{'/offers/' + ${offer.id} + '/edit'}">Edit</a></td>
            <td><a th:href="@{'/offers/' + ${offer.id} + '/tiers'}">Tiers</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>